---
---

<a href="/" class="back-button">&larr;</a>

<style>
    .back-button {
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      background-color: var(--bg);
      color: gray;
      cursor: pointer;
      display: inline-block;
      transition: all 0.3s ease;
    }
  
    .back-button:hover {
        background-color: #ddd;
        border: none;
        margin-bottom: 0.75rem;
    }
  </style>